<div class="ms-Dialog ms-Dialog--close" id="pictureDialog">
    <button class="ms-Dialog-button ms-Dialog-buttonClose">
        <i class="ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div class="ms-Dialog-content">
        <img id="pictureElement" src="" alt="" />
    </div>
</div>