.question-index-headline-container {
    display: flex;
    margin-top: -20px;
    margin-bottom: -10px;
}

.question-create-input-title {
    max-width: none;
}

.question-details-headline-container {
    display: flex;
}

.question-headline-text {
    padding-right: 5px;
}

.question-headline-icon {
    margin-top: 20px;
}

.word-wrap {
    word-wrap: break-word;
}

.question-answer-textarea {
    max-width: none !important;
    width: 100%;
}

.mce-panel {
    width: 100% !important;
}

.moderationtext {
    font-style: italic;
}

.question-title-labelbox {
    display: flex;
    padding-top: 10px;
}

.answer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.answer-correct {
    background-color: yellowgreen;
    padding-left: 5px;
    margin-left: -5px;
}

.question-details-answer-container hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.clearfix {
    clear: both;
}
